@import '../../../vars.css';

.container{
    background-color: yellow;
    margin: 2% 0%;
    border: 1px solid red;
}

.clearanceContainer{
    background-color: green;
    margin: 1%;
    height: 100px;
}

.menuItems{
    background-color: red;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}