@import '../../../vars.css';

.container{
    background-color: #ffa7b3;
    height: auto;
    width: 100%;
    border: 2px solid green;
    
}

.topBar{
    background-color: yellow;
    margin: 25px;
    border: 2px solid grey;
   
}

.menu{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 12%;
    margin: 0 5px;
    justify-content: center;
}

.menu a{
    background-color: green;
    color: rgb(49, 49, 51);
    text-decoration: none;
    padding: 5px 5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    font-weight: 400;
    
}

.menu a:hover{
    color: #f68b1e;
}

.fontAwesomeIcon{
    margin-right: 5px;
}