@import '../../../vars.css';

.container{
    background-color: #ffa7b3;
    height: auto;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    
}

.topBar{
    background-color: #fff;
    margin: 5px;
    width: 12%;
    /* border: 2px solid grey; */
    height: 400px;
   
}

.menu{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
    justify-content: center;
}

.menu a{
    /* background-color: green; */
    color: rgb(49, 49, 51);
    text-decoration: none;
    padding: 5px 5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    font-weight: 400;
    
}

.menu a:hover{
    color: #f68b1e;
}

.fontAwesomeIcon{
    margin-right: 5px;
}



.imagesSlider {
    overflow: hidden;
    background-color: blue;
    width: 60%;
    height: auto;
    margin: 5px;
}

.sliderContent {
    display: flex;
    width: 300%; /* Adjust this value based on the number of images */
    animation: slide 10s infinite; /* Adjust the duration as needed */
}

.sliderContent a {
    flex: 1;
    text-align: center; /* Center the image within the anchor */
    text-decoration: none; /* Remove underline */
}

.sliderContent img {
    width: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Help Centre */

.helpCentre{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    font-family: "Roboto"Arial, Helvetica, sans-serif;
   
}

.TopHelpCentre{
    margin: 0px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    /* background-color: #f68b1e; */
}

.items{
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
}

.itemsListIcons{
    color: #ff9900;
    /* background-color: purple; */
    padding: 10px;
    margin: 5px;
    width: 34px;
    height: auto;
}

.itemsList{
    /* background-color: greenyellow; */
    padding: 0px 5px;
}

.itemsList a{
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.bottomHelpCentre{
    margin: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomHelpCentre img{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;

}
