@import '../../../vars.css';

.container{
    width: 100%;
  
}

.navbarImage{
    background-color: #FF9900;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarImage img{
    width: 40%;
    height: auto;
}

.iconsContainer{
    background-color:yellow;
    height: 300px;
}

.firstIcon{
    background-color: aliceblue;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.firstIcon a{
    color: #f68b1e;
    font-size: 12px;
}

.jumiaIcon1{
    height: 15px;
    width: auto;
    margin-left: 3%;
    margin-top: 8px;
}

.jumiaIcon2{
    height: 15px;
    width: auto;
    margin-left: -60%;

}

.pay{
    height: 25px;
    width: auto;
    margin-left: 10%;
}

.search{
    background-color: red;
    height: 72px;
    width: 100%;
}

.innerContainer{
    background-color: blueviolet;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.innerContainer img{
    height: 27px;
    width: auto;
}

.searchBar{
    width: 50%;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 2%;
    border: 0.2px solid black;
    border-radius: 5px;
}

.searchbarIcon{
    height: 25px;
    width: auto;
    padding: 12px;
}

.searchBar input{
    height: 91%;
    border: none;
    font-family: "Roboto,Arial,sans-serif";
    font-size: 18px;
}

.searchButton{
    font-size: 14px;
    background-color: #f68b1e;
    /* padding: 12px 16px; */
    cursor: pointer;
    font-size: 0.875rem;
    font-family: "Roboto,Arial",sans-serif;
    height: 50px;
    width: auto;
    color: white;
    margin-left: 10px;
}