@import '../../../vars.css';

.container{
    width: 100%;
  
}

.navbarImage{
    background-color: #FF9900;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarImage img{
    width: 40%;
}

.iconsContainer{
    background-color:yellow;
    height: 300px;
}

.firstIcon{
    background-color: green;
    height: 100px;
}

.search{
    background-color: red;
    height: 100px;
}

.innerContainer{
    background-color: blueviolet;
    padding: 10px 20px;
}

.innerContainer img{
    height: 27px;
    width: 15%;
}