.container{
    /* background-color: blue; */
    border: none;
}

/* .helpCentreContainer{
    background-color: green;
} */

.helpCentre{
    background-color: #ffd093;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
}

.helpCentre h4{
    /* background-color: red; */
    font-size: 18px;
    
}

.helpCentre h3{
    /* background-color: yellow; */
    margin-top: 0%;
    font-size: 22px;
}



.help{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
 
  
}

.orders{
    background-color: #ffff;
    height: 100px;
    display: flex; 
    margin: 10px;
    width: 250px;
    border-radius: 5px;
}

.orders img{
    /* height: 50px; */
    width: auto;
}

.orders h3{
    /* background-color: green; */
    width: 60%;
    padding: 0px;
    margin: 0px;
}

.paymentSection{
    background-color: yellow;
    width: 250px;
}

.payment{
    /* background-color: green; */
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid black;
}

.payment h3{
    /* background-color: blue; */
    margin: 0px;
    padding-top: 14px;
    padding-left: 8px;
    width: 80%;
}

.KeyboardArrowRightOutlined{
    display: flex;
    flex-direction: row;
    /* background-color: #ffd093; */
    /* width: 60%; */
    justify-content: flex-end;
}

.myIcon{
    /* background-color: cyan; */
    margin-top: 49%;
}